/* For this slider, disable the 'origin' size. */
#connect .noUi-origin {
	right: auto;
	width: 0;
}

/* Position the bar and color it. */
#connect.connect {
	position: absolute;
	top: 0;
	bottom: 0;
	background: #ffff00;
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
}
#connect2.connect2 {
	position: absolute;
	top: 0;
	bottom: 0;
    right: 0;
	background: #00ff00;
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
}

.noUi-background {
    background: #ff0000;
}

/* When the slider is moved by tap,
   transition the connect bar like the handle. */
#connect.noUi-state-tap .connect {
-webkit-transition: left 300ms, right 300ms;
	transition: left 300ms, right 300ms;
}
