/* Website template by freewebsitetemplates.com
 and heavily modified by Ben Weiss

 Color palette: borrowed from jquery UI template "Redmond"*/
html, body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
	overflow: auto;
	height: 100%;
}
body #page {
	margin: 0;
	overflow: auto;
	padding: 0;
	width: auto;
	min-height: 100%;
	background-color: #ffffff;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}
/*-------------------------------------------FONTS---------------------------------------------*/
@font-face {
	font-family: 'roboto-regular-webfont';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg') format('svg');
}
@font-face {
	font-family: 'quicksand-bold-webfont';
	src: url('../fonts/quicksand-bold-webfont.eot');
	src: url('../fonts/quicksand-bold-webfont.woff') format('woff'), url('../fonts/quicksand-bold-webfont.ttf') format('truetype'), url('../fonts/quicksand-bold-webfont.svg') format('svg');
}
@font-face {
	font-family: 'magra-bold-webfont';
	src: url('../fonts/magra-bold-webfont.eot');
	src: url('../fonts/magra-bold-webfont.woff') format('woff'), url('../fonts/magra-bold-webfont.ttf') format('truetype'), url('../fonts/magra-bold-webfont.svg') format('svg');
}
@font-face {
	font-family: 'lato-regular-webfont';
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg') format('svg');
}
@font-face {
	font-family: 'lato-bold-webfont';
	src: url('../fonts/lato-bold-webfont.eot');
	src: url('../fonts/lato-bold-webfont.woff') format('woff'), url('../fonts/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato-bold-webfont.svg') format('svg');
}
/*----------------------------------------header-styles---------------------------------------*/
#header {
	background-color: #5c9ccc;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
#header div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 41px 10px 27px;
}
#header div a.logo {
	float: left;
	margin: 0 0 0 29px;
	padding: 0;
	width: auto;
}
#header div a.logo img {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#header div ul {
	display: inline-block;
	float: right;
	list-style: none outside none;
	margin: 0 auto;
	padding: 17px 0 0;
	text-align: center;
	width: 513px;
}
#header div ul li {
	display: inline-block;
	float: left; /* Needed for IE7 and old versions */
	margin: 0 35px;
	padding: 0;
	position: relative;
	width: auto;
}
#header div ul li a {
	color: #ffffff;
	font-family: lato-regular-webfont, Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
#header div ul li.selected a, #header div ul li.selected a:hover {
	color: #d8e7f3;
}
#header div ul li a:hover, #header div ul li.menu:hover ul li a {
	color: #d8e7f3;
}
#header div ul li ul li a {
	color: #ffffff;
	font-family: lato-regular-webfont, Arial, sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
#header div ul li.menu {
	min-height: 35px;
	z-index: 80;
}
#header div ul li.menu ul {
	display: block;
	float: none;
	left: -99999px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 24px;
	width: 106px;
	z-index: 90;
}
#header div ul li.menu:hover ul.primary, #header div ul li.menu ul#selected.primary {
	left: -30px;
}
#header div ul li.menu:hover ul.secondary, #header div ul li.menu ul#selected.secondary {
	left: -27px;
}
#header div ul li.menu ul li {
	float: none;
	margin: 0;
	padding: 0;
}
/*----------------------------------------body-home-styles---------------------------------------*/
#body.home {
	margin: 0 auto;
	overflow: auto;
	position: relative;
	width: 100%;
	max-width: 960px;
	padding: 7px 0 57px;
	padding-bottom: 80px;
}
.bigimage {
	/*display: block;*/
	/*left: 0;
	margin: 0;
	padding: 0;*/
	display:block;
	float: left;
	margin: 50px 1em 2em .5em;
	width: 375px;
	/*border: medium solid #469bdd;
	box-shadow: 1px 1px 10px #BDD8DA;*/
}
.bodytext {
	display:block;
	margin: 0;
	padding: 0 .5em .5em .5em;
	max-width: 560px;
	min-width: 350px;

	overflow: auto;

	color: #333333;
	font-family: roboto-regular-webfont, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
}
.bodytext .message {
	font-size: 16px;
	font-weight: bold;
	color: #5c9ccc;
}
.bodytext-bigger {
	float: right;
	margin: 0;
	padding: 0 0 0 0px;
	max-width: 685px;

	color: #333333;
	font-family: roboto-regular-webfont, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;

}
.bodytext h1 {
	display: block;
	color: #4297d7;
	font-family: lato-bold-webfont, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 47px 0 18px;
	text-align: left;
	text-transform: uppercase;
	/*width: 560px;*/
}
.orphan-h2 {
	color: #444444;
	display: block;
	font-family: magra-bold-webfont, Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	text-align: left;
	text-transform: none;
	padding: 15px;
	float: left;
	/*width: 560px;*/
}
.bodytext h2 {
	color: #444444;
	display: block;
	font-family: magra-bold-webfont, Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	margin: 0;
	padding: 6px 0 16px;
	text-align: left;
	text-transform: none;
	/*width: 560px;*/
}
.bodytext h3 {
	color: #454545;
	font-family: magra-bold-webfont, Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	margin: 0;
	padding: 6px 0 16px;
	text-align: left;
}
.bodytext p {
	display: block;
	margin: 0;
	padding: 0;
	text-align: left;
	/*width: 560px;*/
}
.bodytext a {
	color: #454545;
	text-decoration: underline;
}
.bodytext a:hover {
	color: #BDD8DA;
}

/*.bodytext .button {
	background: none;
	border: 2px solid #c5c5c5;
	color: #454545;
	cursor: pointer;
	display: block;
	font-family: lato-bold-webfont;
	font-size: 16px;
	font-weight: normal;
	line-height: 36px;
	margin: 0;
	padding: 2px 0 2px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	width: 141px;
}
.bodytext .button:hover {
	background-color: #f6f6f6;
	border: 2px solid #c5c5c5;
	text-decoration: none;
	color: #454545;
	padding: 2px 0 2px;
	width: 141px;
}
#startbutton {
    float: right;
}*/
.bodytext .indent {
    padding-left: 80px;
}
.number-entry {
	/*border: 1px solid #BDD8DA;
	color: #7D9C9F;
	font-family: lato-regular-webfont;
	font-size: 14px;
	font-weight: normal;
	height: 38px;
	line-height: 38px;
	margin: 0 0 8px;
	padding: 0 0 0 10px;
	text-align: left;
	width: 130px;*/
	width: 70px;
}


.text-entry {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 1em;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border:1px solid #a6c9e2;
	background: #fcfdfd url("/static/images/ui-bg_inset-hard_100_fcfdfd_1x100.png") 50% bottom repeat-x;
	color:#222222;
	line-height: 1.3;
	padding: .5em .6em .5em .6em;
	width: 400px;
}

.bodytext ul {
	margin: 0;
	overflow: hidden;
	padding: 0 0 22px 16px;
	width: 100%;
}
.bodytext ul li {
	margin: 0 10px;
	padding: 0;
}

.bodytext .number {
	width:1.2em;
	height:1.2em;
	padding: 0.5em 0.5em 0em 3em;
	display:inline;
}

.button {
    float: right;
    margin-bottom: 20px;
}

#progress-area {
	display: none;
	margin-top: 20px;
}

.bigger {
	font-size: larger;
}

/*----------------------------------------iterate styles--------------------------------------*/

h3.section-head {
	display: block;
	position: relative;
	margin: 2px 0 0 0;
	padding: .5em .5em .5em .7em;
	min-height: 0;
	color: #454545;
	font-family: magra-bold-webfont, Arial, sans-serif;
	line-height: 18px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid #79b7e7;
	background: #f5f8f9 url("../images/ui-bg_inset-hard_100_f5f8f9_1x100.png") 50% 50% repeat-x;
	font-weight: bold;
}

div.section-body {
	display: block;
	margin-bottom: 2em;
	padding: 1em .5em;
	overflow: auto;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #a6c9e2;
	border-top: 0;
	background: #fcfdfd url("../images/ui-bg_inset-hard_100_fcfdfd_1x100.png") 50% bottom repeat-x;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}

.subsec-left-col {
	float: left;
	max-width: 50%;
}

/* Slider styles */
/* For this slider, disable the 'origin' size. */
#connect .noUi-origin {
	right: auto;
	width: 0;
}

/* Position the bar and color it. */
#yellow-bar.slider-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	background: #ffff00;
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
}
#green-bar.slider-bar {
	position: absolute;
	top: 0;
	bottom: 0;
    right: 0;
	background: #00ff00;
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
}

.noUi-background {
    background: #ff0000;
}

/* When the slider is moved by tap,
   transition the connect bar like the handle. */
#connect.noUi-state-tap .connect {
-webkit-transition: left 300ms, right 300ms;
	transition: left 300ms, right 300ms;
}

/*----------------------------------------finish-styles---------------------------------------*/
.final-form p {
	font-size: larger;
}

/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	background-color: #5c9ccc;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	margin-top: -80px;
	height: 80px;
	clear: both;
}
#footer div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 30px 0 0px;
}
#footer div p {
	color: #ffffff;
	display: block;
	font-family: roboto-regular-webfont, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	/*padding: 33px 0 0px;*/
	text-align: center;
	text-transform: none
}